<h1><%= link_to @subreddit.name, @subreddit %></h1>
<h1><%= @post.title %></h1>

<div class="container">
  <%= @post.content %>
</div>

<div class="comment-box">
  <%= form_for @comment, url: {action: "create"} do |f| %>
    Comment: <%= f.text_area :comment %>
    <%= f.submit "Post comment" %>
  <% end %>
</div>
