<h1><%= link_to @subreddit.name, @subreddit %></h1>
<h1><%= @post.title %></h1>

<div class="container">
  <%= @post.content %>
</div>

<%= link_to "New Comment", new_subreddit_post_comment_path(@subreddit, @post) %>

<ul class="comments">
  <% @comments.each do |c| %>
    <li><%= c.comment %></li>
  <% end %>
</ul>
