<%= provide(:button_text, "new subreddit") %>

<h1>New Subreddit</h1>

<%= form_for(@subreddit) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
